.custom-img{
    border-radius: 10px 0 20px 0;
}
.core-value-img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.core-value-img:hover {
  transform: scale(1.05); /* phóng to nhẹ */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* đổ bóng thêm */
}
